@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-family: "Lobster" ,sans-serif !important;
    padding: 20px;
    font-weight:bold  !important;
    text-decoration: italic !important;
    color: #626c8a !important;
    text-align: center;
  }
  h2{
    color: black;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 10px;
  }
  p{
    margin-left: 10px;
  }
  
  img{
   margin-left: 300px;
   margin-top: 100px;
  }
.navb{
    position: relative;
    margin-left: 60rem;
}
.brandTitle{
    font-family: "Lobster",sans-serif;
    color: #0b1d5e !important;

}
.d-flex{
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 40px
}

.section-title {
    margin-bottom: 38px
}

.shadow,
.subscription-wrapper {
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important
}

.icon-primary {
    color: #062caf
}

.icon-bg-circle {
    position: relative
}

.icon-lg {
    font-size: 50px
}

.icon-bg-circle::before {
    z-index: 1;
    position: relative
}

.icon-bg-primary::after {
    background: #062caf !important
}

.icon-bg-circle::after {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    top: -35px;
    left: 15px;
    border-radius: 50%;
    background: inherit;
    opacity: .1
}

p,
.paragraph {
    font-weight: 400;
    color: #8b8e93;
    font-size: 15px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif
}

.icon-bg-yellow::after {
    background: #f6a622 !important
}

.icon-bg-purple::after {
    background: #7952f5
}

.icon-yellow {
    color: #f6a622
}

.icon-purple {
    color: #7952f5
}

.icon-cyan {
    color: #02d0a1
}

.icon-bg-cyan::after {
    background: #02d0a1
}

.icon-bg-red::after {
    background: #ff4949
}

.icon-red {
    color: #ff4949
}

.icon-bg-green::after {
    background: #66cc33
}

.icon-green {
    color: #66cc33
}

.icon-bg-orange::after {
    background: #ff7c17
}

.icon-orange {
    color: #ff7c17
}

.icon-bg-blue::after {
    background: #3682ff
}

.icon-blue {
    color: #3682ff
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}
#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
}
#footer .copyright {
    float: left;
    margin-left: 250px;
}
#footer .credits a {
    transition: 0.3s;
}
#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 6%);
    text-align: left;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #47b2e4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.justify-content-center {
    justify-content: center!important;
}
